<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <br>
        {% if request.user.is_authenticated %}
            <p>Welcome, {{request.user}} - <a href="{% url 'profile-detail' request.user.pk %}"> view </a> </p>
            <a href="{% url 'logout'%}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        
        <br><br>
        <hr>
        Big  boiiiiiiii
        <ul>
            <li><a href="{% url 'scape' %}"> Scapes </a></li>
            <li><a href="{% url 'scape-add'%}"> Add Scape </a></li>
        </ul>
        <script src="" async defer></script>
    </body>
</html>