<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <br>
        <a href="{% url 'home'%}">Home</a>
        <h1> Scape Details </h1>
        <br>
        <hr>
        <h1> 
            {{ scape.name }}
        </h1>    
            <small><a href="{% url 'scape-edit' scape.pk %}">edit</a>
            <a href="{% url 'scape-delete' scape.pk %}">delete</a>
            </small>
        

        

        <h2> By: <a href="{% url 'profile-detail' scape.owner.pk %}">{{ scape.owner.user_profile }} </a> </h2>
        <br>
        <div>
            <h3> Tank Details </h3>
            <ul> 
                <li>Volume: {{ scape.volume }}</li>
                <li>Filter: {{ scape.filtration }}</li>
                <li>Lighting: {{ scape.lighting }}</li>
                <li>CO2: {{ scape.co2 }}</li>
                <li>Soil: {{  scape.soil }}</li>
            </ul>
            <br>


                {% if scape.hardscape.all  %}
                    <h4>Hardscape:</h4> 
                    <ul>{% for hardscape in scape.hardscape.all %}<li> <a href="#">{{hardscape}}</a> </li> {% endfor %} </ul>
                {% endif %}

                {% if scape.plants.all %}
                    <h4>Plants:</h4>
                    <ul>{% for plant in scape.plants.all %}<li><a href="#">{{plant}}</a></li> {% endfor %} </ul>
                {% endif %}

                {% if scape.fish.all or scape.invertebrates.all %}
                    <h4>Livestock:</h4>

                    <ul>
                    {% if scape.fish.all %}
                        <h5>Fish: 
                        <ul>
                            {% for fish in scape.fish.all %}
                            <li><a href="#">{{fish}}</a></li>
                            {% endfor %}
                        </ul>
                        </h5> 
                    {% endif %}

                    {% if scape.invertebrates.all  %}
                        <h5>Invertebrates:
                        <ul>
                            {% for invert in scape.invertebrates.all %}
                                <li><a href="#">{{invert}}</a></li>
                            {% endfor %}
                        </ul>
                        </h5>
                    {% endif %}
                    </ul>
                
                {% endif %}
                
                
                
            

            
        </div>
        <script src="" async defer></script>
    </body>
</html>